{erl_opts, [debug_info]}.
{deps, [
        {osmo_ss7, "1", {git, "git://git.osmocom.org/erlang/osmo_ss7/", "master"}},
        {osmo_sccp, "1", {git, "git://git.osmocom.org/erlang/osmo_sccp/", "master"}},
        {osmo_map, "1", {git, "git://git.osmocom.org/erlang/osmo_map/", "master"}}
	]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{sub_dirs, ["rel"]}.
